<section class="informative">
    <h2>Custom section from custom.j2 </h2>
    <p>A custom section introduced in main template via include</p>
</section>

<section class="controlledvocab">
    <h2>Controlled vocabularies</h2>
</section>

<section class="ack">
    <h2>Acknowledgments</h2>
</section>
