{% extends "base.j2" %}


{% block pageContent %}
    {% block abstract %}
        <section id="abstract">
        <p> This artefact provides the definitions for the DCAT-AP-LU. This artefact excludes the restrictions.
            DCAT-AP-LU is a Luxembourg-specific extension of the DCAT-AP profile used for sharing information about
            Catalogues containing Datasets and Data Services descriptions in Europe. It was created as part of the
            national implementation of the Data Governance Act (DGA) to support the creation of a single national
            dataset catalogue for all public sector data. The DCAT-AP-LU reuses large parts of the DCAT-AP-v3.0
            standard, with a set of minor adaptations to support specific requirements for Luxembourg.</p>
        </section>
    {% endblock %}

    {% block introduction %}
        {{ super() }}
    {% endblock %}

    {% block status %}
        {{ super() }}
    {% endblock %}

    {% block license %}
        <section id="speclicence">
            <h2>License</h2>
            <p>
                {% if metadata.license %}
                    This specification of {{ metadata.title }} is published under {{ metadata.license }}.
                {% endif %}
            </p>
        </section>
    {% endblock %}

    {% block conformance %}
       <section id="conformance">
    <p> MY new text </p>
</section>
    {% endblock %}

    {% block terminology %}
        <section id="specterminology">
            <h2>Terminology</h2>
            <p>
                An <strong>Application Profile</strong> is a specification that reuses terms from one or more base
                standards, adding more specificity by identifying mandatory, recommended and optional elements to be
                used for a particular application, as well as recommendations for controlled vocabularies to be used.
            </p>
            <p>
                A <strong>Dataset</strong> is a collection of data, published or curated by a single source, and
                available for access or download in one or more formats.
                A <strong>Data Portal</strong> is a Web-based system that contains a data catalogue with descriptions of
                datasets and provides services enabling discovery and reuse of the datasets.



                {% block usedPrefixesGen %}
                    {{ super() }}
                {% endblock %}
        </section>
    {% endblock %}

    {% block overview %}
        {{ super() }}
    {% endblock %}

    {% block mainEntities %}
        {{ super() }}
    {% endblock %}

    {% block supportiveEntities %}
        {{ super() }}
    {% endblock %}

    {% block datatypes %}
        {{ super() }}
    {% endblock %}

    {% block usages %}
        <section class="informative">
            <h2>Usage Guidelines - change </h2>

            <h3>Basic Usage</h3>
            <p>To use this vocabulary, follow these guidelines:</p>

            {# You can include examples anywhere #}
            <div class="h3 examples" id="example1">Example 1</div>

        </section>
    {% endblock %}

    {% block governance %}
        <section class="informative">
            <h2>Governance</h2>
        </section>
    {% endblock %}

       {% block Maria %}
        <section class="informative">
            <h2>This is a new section from Maria</h2>
        </section>
    {% endblock %}

    {% block customSection %}
        <section class="informative">
            <h2>Custom section - TEMPLATE_CUSTOM_2024</h2>
            <p>A custom section introduced in main template</p>
        </section>

        <!-- Include custom template content -->
        {% include "custom.j2" ignore missing %}
    {% endblock %}

    {% block quickReference %}
        {{ super() }}
    {% endblock %}

    {% block resources %}
        {{ super() }}
    {% endblock %}


{% endblock %}
